<html>
<head>
	<title>Movie DB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
  <body>
    <h1 class="h1">Movie Database</h1>
    <div>	
    <h2 >Enter Name of the Movie:</h2>
	    <form class="big_form" method="POST" action="/">
	      <input type="text" name="title">
	      <input type="submit" value="Add">
	    </form>
    </div>
    <h2>Movies List:</h2>
    <table class="movie_table">
    	<thead>
    		<th>Title</th>
    		<th>Update</th>
    		<th>Delete</th>
    	</thead>
    	<tbody>
    {% for movie in movies %}
    		<tr>
		      <td><p>{{movie.title}}</p></td>
		      <td>
		      	<div>
			      <form method="POST" action="./update">
			          <input type="hidden" value="{{movie.title}}" name="oldtitle">
			          <input type="text" value="{{movie.title}}" name="newtitle">
			          <input type="submit" value="Update">
			      </form>
		       	</div>
		      </td>
		      <td>
		      	<div>
			      <form method="POST" action="./delete">
				      <input type="hidden" value="{{movie.title}}" name="title">
				      <input type="submit" value="Delete">
				  </form>
		      	</div>
		      </td>
    		</tr>
    {% endfor %}
    	</tbody>
    </table>
  </body>
</html>
